{% block link %}
<link rel="stylesheet" href="/static/css/menu.css">
{% endblock %}
<div class="sidebar" id="side_nav">
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-5">
                <img src="{{ url_for('static', filename='image/user.png') }}" alt="User Icon" class="img-fluid">
            </div>

            <div class="col-md-7">
                <div class="row mb-2">
                    <div class="col-md-12">
                        <span class="badge bg-secondary fs-5">{{current_user.user_role}}</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h5>{{current_user.name}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="h-color mx-2">
    <ul class="list-unstyled px-2">
        {% for f in funcs %}
        <li class='{% if request.endpoint == f.endpoint
            or request.endpoint == "index" and f.endpoint == "" %}active{% endif %}'>
            <a href="/{{f.endpoint}}" class="text-decoration-none px-3 py-2 d-block">
                <i class="{{ f.icon }}"></i>
                {{f.name}}
            </a>
        </li>
        </li>
        {% endfor%}
    </ul>

    <hr class="h-color mx-2">

    <ul class="list-unstyled px-2">
        <li class="">
            <div style="display:inline; color: #f8f9fa;  cursor:pointer" class=" text-decoration-none px-3 py-2 d-block"
                 data-bs-toggle="collapse"
                 data-bs-target="#settings"><i class="fa-solid fa-gear pe-1"></i>Settings
            </div>
            <div id="settings" class="collapse" style="padding-left:20px">
                <a href="/logout" class="text-decoration-none px-3 py-2 d-block"><i
                        class="fa-solid fa-right-from-bracket"></i>
                    Logout</a>
                <a data-bs-toggle="popover"
                   title="Thông tin"
                   data-bs-placement="bottom" data-bs-content="Some content insid">

                </a>
                <a href="#" class="text-decoration-none px-3 py-2 d-block" title="Thông tin"
                   data-bs-toggle="popover" data-bs-placement="bottom" data-bs-trigger="focus"
                   data-bs-content="Tên: {{current_user.name}}"> <i
                        class="fa-solid fa-address-card"></i>
                    Profile</a>
            </div>
        </li>

    </ul>
</div>

<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
</script>