{% extends 'layout/base.html' %}

{% block title %}Chỉnh sửa điểm{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Chỉnh sửa điểm môn {{inputTenMon}} lớp {{inputTenLop}} {{inputHocki}} {{inputNienHoc}}  </h1>
{% if dataScores|length == 0 %}
<div class="alert alert-danger d-flex align-items-center ">
        <span><strong>Lỗi!</strong> Lớp {{inputTenLop}} {{inputHocki}} chưa được nhập điểm.</span>
        <a href="/nhapdiem?inputTenLop={{inputTenLop}}&inputHocki={{inputHocki}}"
           type="button" class="btn  btn-link p-1">Nhập điểm lớp này</a>
    </div>
{% endif %}
<form action="/chinhsuadiem/{{idLop}}">
    <div class="row">
        <label for="semester" class="form-label">Chọn học kì:</label>
    </div>
    <div class="row mb-3">
        <div class="col-md-2">
            <select id="semester" name="inputHocki" class="form-select">
                <option value="HK1" {% if inputHocki=='HK1' %} selected {%endif%}>HK1</option>
                <option value="HK2" {% if inputHocki=='HK2' %} selected {%endif%}>HK2</option>
            </select>
        </div>
        <div class="col-md-6">
            <button type="submit" class="btn btn-primary">Lọc</button>
        </div>
    </div>
</form>
{% if dataScores|length != 0 %}
<form action="/chinhsuadiem/{{idLop}}" method="POST">
    <table class="table table-bordered border border-dark">
        <thead>
        <tr>
            <th class="text-center" scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Date of Birth</th>
            {% for i in range(0, inputCot15p) %}
            <th class="text-center" scope="col">
                <span>15p</span>
                <button type="submit" class="ml-1 btn btn-secondary p-1" onclick="deleteColumn(this, '15p')">Xóa
                </button>
            </th>
            {% endfor %}
            {% for i in range(0, inputCot45p) %}
            <th class="text-center" scope="col">
                <span>45p</span>
                <button type="submit" class="ml-1 btn btn-secondary p-1" onclick="deleteColumn(this, '45p')">Xóa
                </button>
            </th>
            {% endfor %}
            <th class=" text-center
            " scope="col">Cuối kì
            </th>
        </tr>
        </thead>
        <tbody>
        {% for dataScore in dataScores %}
        <tr>
            <input type="hidden" value="{{dataScore['score_board_id']}}">
            <th class="text-center" scope="row">{{ loop.index }}</th>
            <td>{{ dataScore['student_name'] }}</td>
            <td>{{ dataScore['student_dob'].strftime('%d-%m-%Y') }}</td>
            {% for i in range(0, inputCot15p) %}
            <td scope="col">
                <input type="number" name="15p{{dataScore['score_board_id']}}[]"
                       class="form-control border-0 form-control-sm"
                       min="0" max="10" step="any" value="{{dataScore['15p'][i]}}" required>
            </td>
            {% endfor %}
            {% for i in range(0, inputCot45p) %}
            <td scope="col">
                <input type="number" name="45p{{dataScore['score_board_id']}}[]"
                       class="form-control border-0 form-control-sm"
                       min="0" max="10" step="any" value="{{dataScore['45p'][i]}}" required>
            </td>
            {% endfor %}
            <td scope="col">
                <input type="number" name="ck{{dataScore['score_board_id']}}"
                       class="form-control border-0 form-control-sm"
                       min="0" max="10" step="any" value="{{dataScore['ck']}}" required>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="container mt-3">
        <div class="row justify-content-end">
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="add15pColumn()">Thêm cột 15p</button>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-secondary" onclick="add45pColumn()">Thêm cột 45p</button>
            </div>
            <div class="col-auto">
                <input type="hidden" name="inputTenLop" value="{{inputTenLop}}">
                <input type="hidden" name="inputTenMon" value="{{inputTenMon}}">
                <input type="hidden" name="inputHocki" value="{{inputHocki}}">
                <button type="submit" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</form>
{% endif %}
{% endblock %}