    {% extends 'layout/base.html' %}

{% block title %}Chỉnh sửa điểm{% endblock %}

{% block content %}
<!-- Offcanvas Sidebar -->
<h1 class="text-center mt-2">Danh sách lớp của bạn</h1>

<form class="d-flex" method="get" action="/chinhsuadiem">
    <input class="form-control me-2" type="text" name="kw" value="{{kw}}" placeholder="Tìm kiếm lớp...">
    <button class="btn btn-primary" type="submit">Lọc</button>
</form>

{% if list_class|length != 0 %}
<div class="container" style="height: 60vh; overflow-y: auto;">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên Lớp</th>
                <th scope="col">Sỉ số</th>
                <th scope="col">Hành động</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for class in list_class %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ class.name }}</td>
                <td>{{ class.size }}</td>
                <td>
                    <form action="/chinhsuadiem/{{class.id}}">
                        <button type="submit" class="btn btn-secondary">Sửa</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% elif size != "" %}
<h3 class="mt-2">Không tìm thấy danh sách học sinh phù hợp</h3>
{% endif %}

{% endblock %}
