{% extends 'layout/base.html' %}

{% block title %}Thong ke{% endblock %}

{% block content %}
<!-- Offcanvas Sidebar -->
<div class="offcanvas offcanvas-start" id="demo">
    <div class="offcanvas-header">
        <h1 class="offcanvas-title">Thông tin lớp chỉnh sửa</h1>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">

        <div class="mb-3 mt-3">
            <label for="inputTenLop" class="form-label">Tên lớp:</label>
            <input type="text" class="form-control" id="inputTenLop" placeholder="Tên lớp" name="inputTenLop">
        </div>

        <label for="browser" class="form-label">Chọn môn:</label>
        <input class="form-control" list="browsers" name="inputTenMon" id="browser">
        <datalist id="browsers">
            <option value="Toán">
            <option value="Lý">
            <option value="Hóa">
            <option value="Văn">
            <option value="Anh">
        </datalist>
        <button class="btn btn-secondary" type="button">A Button</button>
    </div>
</div>

<!-- Button to open the offcanvas sidebar -->
<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo">
    Nhập thông tin lớp chỉnh sửa
</button>
{% endblock %}
