{% extends 'layout/base.html' %}

{% block title %}Diem{% endblock %}

{% block content %}

<h1 class="text-center mt-2">Nhập điểm</h1>
<form action="/nhapdiem">
    <div class="mb-3 mt-3">
        <label for="inputTenLop" class="form-label">Tên lớp:</label>
        <select id="inputTenLop" name="inputTenLop" class="form-select">
            {% for class in classes %}
            <option value="{{class.name}}" {% if inputTenLop== class.name %} selected {%endif%}>
                {{class.name}}
            </option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <label for="inputCot15p" class="form-label">Số lượng cột 15p:</label>
        <input type="number" min="1" max="5" class="form-control" value="{{inputCot15p}}" id="inputCot15p"
               placeholder="Số lượng cột 15p"
               name="inputCot15p" required>
    </div>

    <div class="mb-3">
        <label for="inputCot45p" class="form-label">Số lượng cột 45p:</label>
        <input type="number" min="1" max="3" class="form-control" value="{{inputCot45p}}" id="inputCot45p"
               placeholder="Số lượng cột 45p"
               name="inputCot45p" required>
    </div>

    <label for="semester" class="form-label">Chọn học kì:</label>
    <select id="semester" name="inputHocki" class="form-select">
        <option value="HK1" {% if inputHocki=='HK1' %} selected {%endif%}>HK1</option>
        <option value="HK2" {% if inputHocki=='HK2' %} selected {%endif%}>HK2</option>
    </select>
    <button type="submit" class="btn btn-primary mb-3  mt-3">Submit</button>
</form>


{% if score_boards|length != 0 %}
<!-- Button to Open the Modal -->
<button type="button" id='btnModal' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
    Open modal
</button>
<!-- The Modal -->
<div class="modal" id="myModal">
    <form action="/nhapdiem" method="POST">
        <div class="modal-dialog modal-xl">
            <div class="modal-content col-15">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Danh sách bảng điểm lớp {{inputTenLop}} môn {{inputTenMon}} {{inputHocki}}
                        {{currentSchoolYear}}</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="max-height:60vh; overflow-y:auto">
                    <div class="container mt-3 ">
                        <!--                    <h2>Basic Table</h2>-->
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th class="text-center" scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Date of Birth</th>
                                <th class="text-center" scope="col" colspan="{{inputCot15p}}">15p</th>
                                <th class="text-center" scope="col" colspan="{{inputCot45p}}">45p</th>
                                <th class="text-center" scope="col">Cuối kì</th>
                            </tr>
                            </thead>
                            </tbody>
                            {% for score_board in score_boards %}
                            <tr>
                                <th class="text-center" scope="row">{{ loop.index }}</th>
                                <td>{{ score_board.name }}</td>
                                <td>{{ score_board.dob.strftime('%d-%m-%Y') }}</td>
                                {% for i in range(0, inputCot15p) %}
                                <th scope="col">
                                    <input type="number" name="15p{{score_board.id}}[]" class="form-control border-0"
                                           min="0"
                                           max="10" step="any" required>
                                </th>
                                {% endfor %}
                                {% for i in range(0, inputCot45p) %}
                                <th scope="col">
                                    <input type="number" name="45p{{score_board.id}}[]" class="form-control border-0"
                                           min="0"
                                           max="10" step="any" required>
                                </th>
                                {% endfor %}
                                <th scope="col">
                                    <input type="number" name="ck{{score_board.id}}" class="form-control border-0"
                                           min="0"
                                           max="10" step="any" required>
                                </th>
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <input type="hidden" name="inputTenLop" value="{{inputTenLop}}">
                    <input type="hidden" name="inputTenMon" value="{{inputTenMon}}">
                    <input type="hidden" name="inputHocki" value="{{inputHocki}}">
                    <button type="submit" class="btn btn-primary">Lưu</button>
                </div>
            </div>

        </div>

    </form>
</div>
<script>
    document.getElementById('btnModal').click()
</script>
{% endif %}
{% endblock %}
