{% extends 'layout/base.html' %}

{% block title %}Điều chỉnh danh sách{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Điều chỉnh danh sách lớp {{cla.name}}</h1>
{% if students|length != 0 %}
<button type="button" class="btn btn-primary ">Thêm học sinh</button>
<div class="container mt-3">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Gender</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>

        </tr>
        </thead>
        <tbody>
        {% for student in students %}
        <tr>
            <th scope="row" class="align-middle">{{ loop.index }}</th>
            <td class="align-middle">{{ student.name }}</td>
            {% if student.gender == True %}
            <td class="align-middle">Male</td>
            {% else %}
            <td class="align-middle">Female</td>
            {% endif %}
            <td class="align-middle">{{ student.dob.strftime('%d-%m-%Y') }}</td>
            <td class="align-middle">{{ student.address }}</td>
            <td>
                <form action="/dieuchinhdanhsach/{{idLop}}"
                      method="POST"
                      onsubmit="return confirm('Xác nhận xóa?')">
                    <input type="hidden" value="{{student.id}}" name="student_id">
                    <input type="hidden" value="delete" name="action">
                    <button type="submit" class="btn btn-danger">Xóa</button>
                </form>
            </td>
        </tr>
        {% endfor%}
        </tbody>
    </table>
</div>
{% else %}
<h3 class="mt-2">Không tìm thấy danh sách</h3>
{% endif %}
{% endblock %}
