{% extends 'layout/base.html' %}

{% block title %}Dieu chinh danh sach{% endblock %}

{% block content %}
<div id="dieuchinhdanhsach">
    <h1 class="text-center mt-2">Điều chỉnh danh sách</h1>
    {% if classes|length == 0 %}
    <div class="alert alert-info">
        <strong>Thông tin!</strong> Không tìm thấy danh sách lớp phù hợp.
    </div>
    {% endif %}
    <div class="container">
        <form class="row">
            <div class="col-md-2">
                <select class="form-select" name="inputGrade">
                    {% for grade in grades %}
                    <option value="{{grade.name}}" {% if grade.name==inputGrade %}selected{% endif %}>Khối
                        {{grade.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary float-right">Lọc</button>
            </div>
        </form>
    </div>

    {% if classes|length != 0 %}
    <div class="container justify-content-center  mt-3">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Lớp</th>
                <th>Sỉ số</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for class in classes %}
            <tr>
                <th>{{loop.index}}</th>
                <td>{{class.Class.name}}</td>
                <td>{{class.Class.size}}</td>
                <td>
                    <form action="/dieuchinhdanhsach/{{class.Class.id}}">
                        <button type="submit" class="btn btn-secondary">Sửa</button>
                    </form>
                </td>
            </tr>
            {% endfor%}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
{% endblock %}
