{% extends 'layout/base.html' %}

{% block title %}Dieu chinh danh sach{% endblock %}

{% block content %}
<h1 class="text-center mt-2">Điều chỉnh danh sách</h1>
<div class="container mt-3">
    <h2>Khối 10</h2>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Lớp</th>
            <th>Sỉ số</th>
            <th>Điều chỉnh</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>John</th>
            <td>Doe</td>
            <td>john@example.com</td>
            <td>
                <form action="">
                    <button></button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

{% endblock %}
