{% extends 'layout/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if current_user.user_role == user_role.Teacher %}
<div class="container" style="height: 60vh; overflow-y: auto;">
    <h1 class="text-center">Danh sách lớp của bạn</h1>
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Tên lớp</th>
                <th scope="col">Sỉ số</th>
                <th scope="col">Niên khóa</th>
            </tr>
            </thead>
            <tbody>
            {% for c in classes %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ c.name }}</td>
                <td>{{ c.size }}</td>
                <td>{{ school_year }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% if current_user.user_role == user_role.Employee or current_user.user_role == user_role.Admin  %}

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 90vh;">
    <h1 class="text-center mb-4">Hệ thống quản lý học sinh</h1>
    <img src="{{ url_for('static', filename='image/icon.jpeg') }}" class="rounded img-fluid" style="width: 400px;" alt="logo">
</div>
{% endif %}

{% endblock %}

