{% extends 'layout/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}

{% if current_user.is_authenticated %}
<h1>Bạn đã đăng nhập</h1>
<h2>Xin chào {{current_user.name}}</h2>
<h2>Vai trò của bạn: {{current_user.user_role}}</h2>
{% else %}
<h1>Vui long đăng nhập</h1>
{% endif %}

{% if current_user.user_role == user_role.Teacher %}
<div class="container" style="height: 60vh; overflow-y: auto;">
    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"># </th>
                <th scope="col">Tên lớp</th>
                <th scope="col">Sỉ số</th>
                <th scope="col">Niên khóa</th>
            </tr>
            </thead>
            <tbody>
            {% for c in classes %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ c.name }}</td>
                <td>{{ c.size }}</td>
                <td>{{ school_year }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}

