{% extends 'layout/base.html' %}

{% block title %}Login{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/login.css">
{% endblock %}

{% block content %}

<div id="login" class="wrapper">

    <div class="container">
        {% if err %}}
        <div class="alert alert-danger alert-dismissible position-absolute top-0 end-0 m-4 fade show">
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <strong>Lỗi!</strong> {{err}}
        </div>
        {% endif %}
        <h1>Welcome</h1>
        <form action="/login?next_url={{next_url}}" class="was-validated" method="post">
            <input type="text" id="username" placeholder="Enter username" name="username" required>
            <input type="password" id="pwd" placeholder="Enter password" name="pswd" required>
            <button type="submit" id="login-button">Login</button>
        </form>
    </div>

    <ul class="bg-bubbles">
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
</div>
{% endblock %}