{% extends 'layout/base.html' %}

{% block title %}Nhập điểm{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/diem.css">
{% endblock %}

{% block content %}
<div id="nhapdiem">
    <h1 class="text-center mt-2">Nhập điểm môn {{inputTenMon}}</h1>
    {% if tenLop != '' and score_boards|length == 0 %}
    <div class="alert alert-danger d-flex align-items-center ">
        <span><strong>Lỗi!</strong> Lớp {{tenLop}} {{inputHocki}} đã được nhập.</span>
        <a href="/chinhsuadiem/{{inputIdLop}}?inputHocki={{inputHocki}}"
           type="button" class="btn  btn-link p-1">Chỉnh sửa điểm lớp này</a>
    </div>
    {% endif %}
    <form action="/nhapdiem">
        <div class="row mb-3 mt-3">
            <div class="col-md-4">
                <label for="inputIdLop" class="form-label">Tên lớp:</label>
                <select id="inputIdLop" name="inputIdLop" class="form-select">
                    {% for class in classes %}
                    <option value="{{class.id}}" {% if inputIdLop== class.id %} selected {%endif%}>
                        {{class.name}}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-4">
                <label for="semester" class="form-label">Chọn học kì:</label>
                <select id="semester" name="inputHocki" class="form-select">
                    <option value="HK1" {% if inputHocKi =="HK1" %} selected {%endif%}>HK1</option>
                    <option value="HK2" {% if inputHocki =="HK2" %} selected {%endif%}>HK2</option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <label for="inputCot15p" class="form-label">Số lượng cột 15p:</label>
                <select id="inputCot15p" name="inputCot15p" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>

            <div class="col-md-4">
                <label for="inputCot45p" class="form-label">Số lượng cột 45p:</label>
                <select id="inputCot45p" name="inputCot45p" class="form-select">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
        </div>
        <button type="submit" class="btn btn-primary mb-3 mt-3">Submit</button>
    </form>


    {% if score_boards|length != 0 %}
    <!-- Button to Open the Modal -->
    <button type="button" id='btnModal' class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
        Open modal
    </button>
    <!-- The Modal -->
    <div class="modal" id="myModal">
        <form action="/nhapdiem" method="POST">
            <div class="modal-dialog modal-xl">
                <div class="modal-content col-15">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Nhập điểm lớp {{inputTenLop}} môn {{inputTenMon}} {{inputHocki}}
                            {{currentSchoolYear}}</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body" style="max-height:60vh; overflow-y:auto">
                        <div class="container mt-3 ">
                            <!--                    <h2>Basic Table</h2>-->
                            <table class="table table-bordered border border-dark">
                                <thead>
                                <tr>
                                    <th class="text-center" scope="col">#</th>
                                    <th scope="col">Tên</th>
                                    <th scope="col">Ngày sinh</th>
                                    {% for i in range(0, inputCot15p) %}
                                    <th class="text-center" scope="col">15p</th>
                                    {% endfor %}
                                    {% for i in range(0, inputCot45p) %}
                                    <th class="text-center" scope="col">45p</th>
                                    {% endfor %}
                                    <th class="text-center" scope="col">Cuối kì</th>
                                </tr>
                                </thead>
                                </tbody>
                                {% for score_board in score_boards %}
                                <tr>
                                    <th class="text-center" scope="row">{{ loop.index }}</th>
                                    <td>{{ score_board.name }}</td>
                                    <td>{{ score_board.dob.strftime('%d-%m-%Y') }}</td>
                                    {% for i in range(0, inputCot15p) %}
                                    <th scope="col" class="col-auto">
                                        <input type="number" name="15p{{score_board.id}}[]"
                                               class="form-control border-0"
                                               min="0"
                                               max="10" step="any" required>
                                    </th>
                                    {% endfor %}
                                    {% for i in range(0, inputCot45p) %}
                                    <th scope="col" class="col-auto">
                                        <input type="number" name="45p{{score_board.id}}[]"
                                               class="form-control border-0"
                                               min="0"
                                               max="10" step="any" required>
                                    </th>
                                    {% endfor %}
                                    <th scope="col" class="col-auto">
                                        <input type="number" name="ck{{score_board.id}}" class="form-control border-0"
                                               min="0"
                                               max="10" step="any" required>
                                    </th>
                                    {% endfor %}
                                </tr>
                            </table>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="hidden" name="inputIdLop" value="{{inputIdLop}}">
                        <input type="hidden" name="inputHocki" value="{{inputHocki}}">
                        <button type="submit" class="btn btn-primary">Lưu</button>
                    </div>
                </div>

            </div>

        </form>
    </div>
    <script>
        document.getElementById('btnModal').click()
    </script>
    {% endif %}
</div>


{% endblock %}
