{% extends 'layout/base.html' %}

{% block title %}Quy dinh{% endblock %}

{% block content %}

<div id="alertContainer" class="position-fixed top-0 start-50 translate-middle-x mt-3"></div>

<div class="col-sm-6">
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#myModalClassSize">
        Sỉ số lớp học
    </button>
</div>

<div class="modal fade" id="myModalClassSize">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title bg-light">Thay đổi qui định về sỉ số lớp</h4>
                <button type="button" class="btn btn-close btn-light" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <input type="number" class="form-range" id="classSizeNum">
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-bs-dismiss="modal">Apply</button>
            </div>

        </div>
    </div>
</div>

<div class="col-md-6 mt-3">
    <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#myModalAgeRange">
        Độ tuổi tham gia lớp
    </button>
</div>

<div class="modal fade" id="myModalAgeRange">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title bg-light">Thay đổi qui định về độ tuổi</h4>
                <button type="button" class="btn btn-close btn-light" data-bs-dismiss="modal"></button>
            </div>

            <!-- Modal body -->
            <div class="modal-body row">
                <div class="col-sm-8">
                    <label class="form-label">Tuổi thấp nhất</label>
                    <input type="range" class="form-range" id="ageRange1"
                           onchange="updateRangeValue(this)" step="1"
                           min="0" max="100">
                    <label class="form-label">Tuối lớn nhất</label>
                    <input type="range" class="form-range" id="ageRange2"
                           onchange="updateRangeValue(this)" step="1"
                           min="0" max="100">
                </div>
                <div class="card-body col-sm-2">
                    <label class="form-label">Số tuổi</label>
                    <input type="number" class="form-range" id="ageRangeNum1" disabled>
                    <label class="form-label"></label>
                    <label class="form-label">Số tuổi</label>
                    <input type="number" class="form-range" id="ageRangeNum2" disabled>
                </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button class="btn btn-info" data-bs-dismiss="modal">Apply</button>
            </div>

        </div>
    </div>
</div>

<div class="col-md-2 col-xs-6">
    <input type="text" class="form-range rounded bg-white mt-3" id="school_year" placeholder="Nhập niên khóa(23-24):  ">
</div>

<button class="btn btn-info mt-3" data-bs-dismiss="modal" onclick="modifyPolicies()">Apply</button>

{% endblock %}
