{% extends 'layout/base.html' %}

{% block title%}Thống kê{% endblock %}

{% block link %}
<link rel="stylesheet" href="/static/css/statistic.css">
{% endblock %}

{% block content %}
<h1 class="text-center text-info">THỐNG KÊ BÁO CÁO</h1>

<form action="/thongke" method="get">
    <div class="row">
        <div class="col-md-5 col-xs-12 row">

            <div class="form-floating mb-3 mt-3 col-md-6 col-xs-6">
                <input type="text" class="form-control" id="filterScoreMin" placeholder="Nhập điểm để lọc: "
                       name="filterScoreMin">
                <label for="filterScoreMin" class="form-label"> Nhập điểm thấp nhất: </label>
            </div>

            <div class="form-floating mb-3 mt-3 col-md-6 col-xs-6">
                <input type="text" class="form-control" id="filterScoreMax" placeholder="Nhập điểm để lọc: "
                       name="filterScoreMax">
                <label for="filterScoreMax" class="form-label"> Nhập điểm cao nhất: </label>
            </div>

            <div class="dropdown col-md-6 col-xs-6">
                <label for="subject" class="form-label">Chọn môn học: </label>
                <input class="form-control" list="subjects" name="subject" id="subject">
                <datalist id="subjects">
                    {% for s in subjects %}
                    <option value="{{ s.name }}">
                        {% endfor %}
                </datalist>
            </div>

            <div class="dropdown col-md-6 col-xs-6">
                <label for="classroom" class="form-label">Chọn lớp: </label>
                <input class="form-control" list="classrooms" name="classroom" id="classroom">
                <datalist id="classrooms">
                    {% for c in classrooms %}
                    <option value="{{ c.Class.name }}">
                        {% endfor %}
                </datalist>
            </div>

            <div class="dropdown col-md-6 col-xs-6">
                <label for="semester" class="form-label">Chọn học kì: </label>
                <input class="form-control" list="semesters" name="semester" id="semester">
                <datalist id="semesters">
                    {% for s in semesters %}
                    <option value="{{ s.name }}">
                        {% endfor %}
                </datalist>
            </div>

            <div class="col-md-12 col-xs-12 mt-3 mb-3">
                <button type="submit" class="btn btn-primary">Lọc</button>
            </div>

            <table class="table">
                <tr>
                    <th>Điểm</th>
                    <th>Tổng số lượng điểm</th>
                </tr>
                {% for s in score_stats %}
                <tr>
                    <td>{{s[0]}}</td>
                    <td>{{s[1]}}</td>
                </tr>
                {% endfor %}
            </table>

            <hr class="mt-3">


            <div class="dropdown col-md-6 col-xs-6">
                <label for="semesterPie" class="form-label">Chọn học kì: </label>
                <select id="semesterPie" name="semesterPie" class="form-select">
                    {% for s in semesters %}
                    <option value="{{s.name}}" {% if semesterPie== s.name %} selected {%endif%}>
                        {{ s.name }}
                    </option>
                    {% endfor %}
                </select>
            </div>

            <div class="col-md-6 col-xs-12">
                <label for="filterType" class="form-label">Chọn loại:</label>
                <select id="filterType" class="form-select" onchange="filterTable()">
                    <option value="all">--Thống kê--</option>
                    <option value="lop">Theo lớp</option>
                    <option value="khoi">Theo khối</option>
                </select>
            </div>

            <div class="dropdown col-md-6 col-xs-6" style="display: none;" id="classroomPie">
                <label for="classroomPie" class="form-label">Chọn lớp: </label>
                <input class="form-control" list="classroomsPie" name="classroomPie">
                <datalist id="classroomsPie">
                    {% for c in classrooms %}
                    <option value="{{ c.Class.name }}">
                        {% endfor %}
                </datalist>

                <div class="col-md-3 col-xs-6 mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Lọc</button>
                </div>

            </div>

            <div class="dropdown col-md-6 col-xs-6" style="display: none;" id="gradePie">
                <label for="gradePie" class="form-label">Chọn khối: </label>
                <input class="form-control" list="gradesPie" name="gradePie">
                <datalist id="gradesPie">
                    {% for c in grades %}
                    <option value="{{ c.name }}">
                        {% endfor %}
                </datalist>

                <div class="col-md-3 col-xs-6 mt-3 mb-3">
                    <button type="submit" class="btn btn-primary">Lọc</button>
                </div>

            </div>

            <table class="table">
                <tr>
                    <th>Học kì</th>
                    <th>Khối</th>
                    <th>Lớp</th>
                    <th>Tên học sinh</th>
                    <th>Điểm trung bình</th>
                    <th>Xếp loại</th>
                </tr>
                {% for student_id, g in grade_type_stats.items() %}
                <tr>
                    <td>{{g["semester"]}}</td>
                    <td>{{g["grade"]}}</td>
                    <td>{{g["class"]}}</td>
                    <td>{{g["student_name"]}}</td>
                    <td>{{g["avg_score"]}}</td>
                    <td>{{g["grade_type"]}}</td>
                </tr>
                {% endfor %}
            </table>

        </div>

        <div class="col-md-7 col-xs-12">
            <!-- Slideshow container -->
            <div class="slideshow-container">

                <!-- Full-width images with number and caption text -->
                <div class="mySlides">
                    <div class="numbertext">1 / 2</div>
                    <canvas id="myChart"></canvas>
                </div>

                <div class="mySlides">
                    <div class="numbertext">2 / 2</div>
                    <canvas id="myChart2"></canvas>
                </div>

                <!-- Next and previous buttons -->
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
            </div>
            <br>

            <!-- The dots/circles -->
            <div style="text-align:center">
                <span class="dot" onclick="currentSlide(1)"></span>
                <span class="dot" onclick="currentSlide(2)"></span>
            </div>
        </div>

    </div>
</form>
<script>
    let data=[];
    let labels=[];
    let tData=[];
    let tLabels=[];

    {% for s in score_stats %}
    data.push({{s[1]}})
    labels.push('{{s[0]}}')
    {% endfor %}

        let gradeTypeCells = document.querySelectorAll('.table td:nth-child(6)');

        let summaryTotals = {};

        gradeTypeCells.forEach(cell => {
            const gradeType = cell.textContent.trim();

            if (!summaryTotals[gradeType]) {
                summaryTotals[gradeType] = 0;
            }

        summaryTotals[gradeType]++;
        });

        console.log(summaryTotals);

        Object.keys(summaryTotals).forEach(gradeType => {
            tLabels.push(gradeType);
            tData.push(summaryTotals[gradeType]);
        });


</script>
{% endblock %}